// Skate
// Component: s__button

@require '../'

.o-s[data-ui='']
.o-s:not([data-ui])
	.c-s__button
		u-noselect()
		display        : inline-block
		position       : relative
		vertical-align : middle
		text-align     : center
		white-space    : nowrap
		font-family    : $font.family
		text-transform : capitalize

		&--sm
			u-shape__round-rect($border-radius.sm)
			font-size     : $font.size.sm
			line-height   : $font.size.sm + 8px
			padding       : 0 11px
		&--nm
			u-shape__round-rect($border-radius.nm)
			font-size     : $font.size.nm
			line-height   : $font.size.nm + 6px
			padding       : 0 11px
		&--lg
			u-shape__round-rect($border-radius.lg)
			font-size     : $font.size.lg
			line-height   : $font.size.lg + 14px
			padding       : 0 22px
		&--xl
			u-shape__round-rect($border-radius.xl)
			font-size     : $font.size.xl
			line-height   : $font.size.xl + 22px
			padding       : 0 29px

		&--default
			u-fill__default()
			u-fill__default--active()
		&--primary
			u-fill($clr.bg.primary)
			u-fill--active($clr.bg.primary)
		&--success
			u-fill($clr.bg.success)
			u-fill--active($clr.bg.success)
		&--info
			u-fill($clr.bg.info)
			u-fill--active($clr.bg.info)
		&--warning
			u-fill($clr.bg.warning)
			u-fill--active($clr.bg.warning)
		&--alert
			u-fill($clr.bg.alert)
			u-fill--active($clr.bg.alert)
