@require './palette.styl'

$clr = {
	bg : {
		default     : #fafafa
		primary     : $palette.material-500.blue
		success     : $palette.material-500.green
		info        : $palette.flat.amethyst
		warning     : $palette.flat.orange
		alert       : $palette.material-500.red
		dark        : rgba(0, 0, 0, 0.9)
		lite        : rgba(244, 244, 244, 0.92)
		transparent : rgba(255, 255, 255, 0)
	}
	gradient : {
		dark : linear-gradient(to bottom, rgba(40, 52, 64, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%)
		lite : linear-gradient(to bottom, rgba(244, 248, 247, 0.95) 0%, rgba(224, 230, 227, 0.95) 100%)
	}
	text : {
		lite : $palette.flat.clouds
		dark : #111111
	}
}

$shadow = {
	text : {
		dark : 1px 1px 1px rgba(0, 0, 0, 0.25)
		lite : 1px 1px 1px rgba(255, 255, 255, 0.25)
	}
	panel : {
		dark : 0px 2px 7px rgba(255, 255, 255, 0.25)
		lite : 0px 2px 7px rgba(0, 0, 0, 0.3)
	}
}

$font = {
	family : 'Arial'\, sans-serif
	size : {
		sm : 10px
		nm : 13px
		lg : 14px
		xl : 16px
	}
}

$border-radius = {
	sm : 4px
	nm : 4px
	lg : 5px
	xl : 6px
}

u-noselect()
	user-select           : none
	-webkit-touch-callout : none
