@require './consts.styl'

$darken-value  = 10
$lighten-value = 10
$border-darken-value  = 20
$border-lighten-value = 5

u-fill__default()
	color            : $clr.text.dark
	text-shadow      : $shadow.text.lite
	background-color : $clr.bg.default
	box-shadow       : inset 0 0.5em 0.75em 0px white
	border           : 1px solid darken(white, $border-darken-value)

u-fill__default--active()
	transition       : background-color 100ms linear, box-shadow 100ms linear
	&:active
		background-color : darken($clr.bg.default, $darken-value)
		box-shadow       : none

u-fill(clr)
	color            : $clr.text.lite
	text-shadow      : $shadow.text.dark
	background-color : clr
	box-shadow       : inset 0 0.5em 0.75em 0px lighten(clr, $lighten-value)
	border           : 1px solid lighten(clr, $border-lighten-value)

u-fill--active(clr)
	transition       : background-color 100ms linear, box-shadow 100ms linear
	&:active
		background-color : darken(clr, $darken-value)
		box-shadow       : none

u-fill-gradient(mode)
	background  : $clr.gradient[mode]
	box-shadow  : $shadow.panel[mode]
