$palette = {
	material-500 : {
		red           : #f44336
		pink          : #e91e63
		purple        : #9c27b0
		deep-purple   : #673ab7
		indigo        : #3f51b5
		blue          : #2196f3
		light-blue    : #03a9f4
		cyan          : #00bcd4
		teal          : #009688
		green         : #4cAf50
		light-green   : #8bc34a
		lime          : #cddc39
		yellow        : #ffeb3b
		amber         : #ffc107
		orange        : #ff9800
		deep-orange   : #ff5722
		brown         : #795548
		grey          : #9e9e9e
		blue-grey     : #607d8b
	}
	flat : {
		turquoise     : #1abc9c
		green-sea     : #16a085
		emerald       : #2ecc71
		nephritis     : #27ae60
		peter-river   : #3498db
		belize-hole   : #2980b9
		amethyst      : #9b59b6
		wisteria      : #8e44ad
		wet-asphalt   : #34495e
		midnight-blue : #2c3e50
		sun-flower    : #f1c40f
		orange        : #f39c12
		carrot        : #e67e22
		pumpkin       : #d35400
		alizarin      : #e74c3c
		pomegranate   : #c0392b
		clouds        : #ecf0f1
		silver        : #bdc3c7
		concrete      : #95a5a6
		asbestos      : #7f8c8d
	}
}
