u-shape()
	cursor         : default
	overflow       : hidden

u-shape__round-rect(radius)
	u-shape()
	border-radius : radius

u-shape__circle(diameter)
	u-shape__round-rect(diameter / 2)
	width  : diameter
	height : diameter
