.ripple-obj
	height         : 100%
	pointer-events : none
	position       : absolute
	top            : 0
	left           : 0
	z-index        : 0
	width          : 100%
	fill           : #000000
	fill-opacity   : 0.3

	use
		opacity : 0
