//- Skate
//- Component: s__ctimer

div(v-bem width="radius * 2" height="radius * 2")
	svg(
		:width="radius * 2"
		:height="radius * 2"
		xmlns="http://www.w3.org/2000/svg"
	)
		g
			circle(
				class         = "circle-counter"
				:r            = "innerRadius"
				:cy           = "radius"
				:cx           = "radius"
				:stroke-width = "lineWidth"
				:stroke       = "currentColor"
				fill          = "none"
				:transform    = "transform"
			)
			text(
				v-show        = "showCounter"
				class         = "text-counter"
				:x            = "radius"
				:y            = "radius"
				:fill         = "currentTextColor"
				text-anchor   = "middle"
				:font-size    = "textSize"
				style         = "dominant-baseline: middle"
			)
