// Skate
// Component: s__help-button

@require '../'

.o-s[data-ui='']
.o-s:not([data-ui])
	.c-s__help-button
		u-noselect()
		u-shape__circle($font.size.lg + 5px)
		u-fill__default()
		u-fill__default-active()
		display        : inline-block
		position       : relative
		vertical-align : middle
		text-align     : center
		color          : $clr.bg.primary
		&__content
			display     : block
			font-family : $font.family
			font-size   : $font.size.lg
			line-height : $font.size.lg + 5px
