// Skate
// Component: s__toast

@require '../'

$toast-message = {
	max-width : 400px
	min-width : 400px
	padding : {
		h : 20px
		v : 10px
	}
	parted-margin  : 10px
	actions-margin : 7px
}

$ctimer = {
	size : unit($font.size.nm / 3, '')
	colors : {
		start  : $clr.bg.warning
		middle : $clr.bg.primary
		finish : $clr.bg.transparent
	}
}

// Boom! stylus-loader not supports partial references
// https://github.com/shama/stylus-loader/issues/86
$name = c-s__toast

.o-s[data-ui='']
.o-s:not([data-ui])
	.{$name}
		noselect()
		position        : absolute
		z-index         : 1000
		height          : auto
		padding         : 0
		margin          : 0
		overflow        : hidden
		list-style-type : none

		&--top .c-s__toast-message
			margin-bottom : $toast-message.parted-margin * 0.5

		&--bottom .c-s__toast-message
			margin-top : $toast-message.parted-margin * 0.5

		.c-s__toast-message
			margin : $toast-message.parted-margin
			&__panel
				u-shape__round-rect($border-radius.lg)
				display         : flex
				flex-grow       : 1
				flex-wrap       : wrap
				align-items     : center
				justify-content : flex-end
				box-sizing      : border-box
				padding         : $toast-message.padding.v $toast-message.padding.h
				font-family     : $font.family
				font-size       : $font.size.nm
				line-height     : $font.size.nm + 12px
			&__message
				flex-grow : 1
			&__actions
				display   : flex
				flex-wrap : nowrap
				& > *
					margin-left: $toast-message.actions-margin
			&__help
				& > *
					margin-left: $toast-message.actions-margin
			&__timer
				.c-s__ctimer
					margin-left : $toast-message.actions-margin
					-content : <<<{
						"radius" : {{ $ctimer.size }},
						"color"  : [
							[0,    {{ $ctimer.colors.start  }}],
							[0.7,  {{ $ctimer.colors.middle }}],
							[0.85, {{ $ctimer.colors.finish }}]
						],
						"lineWidth" : {{ $ctimer.size }}
					}>>>
					content: <<<{
						"radius" : {{ $ctimer.size }},
						"color"  : [
							[0,    {{ $ctimer.colors.start  }}],
							[0.7,  {{ $ctimer.colors.middle }}],
							[0.85, {{ $ctimer.colors.finish }}]
						],
						"lineWidth" : {{ $ctimer.size }}
					}>>>

		//
		// Toast container
		//
		&--normal
			min-width : $toast-message.min-width
			max-width : $toast-message.max-width
		&--fullsc
			min-width : 100%
			left  : 0
			right : 0

		&--top
			top : 0
		&--bottom
			bottom : 0
		&--left
			left : 0
		&--center
			left      : 50%
			transform : translate(-50%, 0)
		&--right
			right : 0

		&--united
			u-shape__round-rect($border-radius.lg)
		&--united.{$name}--normal
			margin : 0 $toast-message.parted-margin
		&--united.{$name}--top
			u-fill-gradient('lite')
			border-top-left-radius  : 0
			border-top-right-radius : 0
		&--united.{$name}--bottom
			u-fill-gradient('dark')
			border-bottom-left-radius  : 0
			border-bottom-right-radius : 0

		//
		// message
		//
		&--normal .c-s__toast-message__panel
			min-width : $toast-message.min-width - $toast-message.parted-margin * 2
			max-width : $toast-message.max-width - $toast-message.parted-margin * 2

		&--top .c-s__toast-message__panel
			color       : $clr.text.dark
			text-shadow : $shadow.text.lite
		&--bottom .c-s__toast-message__panel
			color       : $clr.text.lite
			text-shadow : $shadow.text.dark
		&--center .c-s__toast-message__panel
			margin: 0 auto

		&--parted.{$name}--top .c-s__toast-message__panel
			background  : $clr.gradient.lite
			box-shadow  : $shadow.panel.lite
		&--parted.{$name}--bottom .c-s__toast-message__panel
			background  : $clr.gradient.dark
			box-shadow  : $shadow.panel.dark
