//- Skate
//- Component: s__toast

li(v-bem v-if="visible" transition="toast-expand")
	div(v-bem:panel)
		div(v-bem:message) {{ msg }}
		div(v-bem:actions)
			template(v-for="(index, action) in actions")
				template(v-if="action.mode != 'help'")
					s__button(
						:mode  = "action.mode"
						size   = "sm"
						@click = "atActionClick(index)"
						:title = "action.title"
					)
		div(v-bem:help)
			template(v-for="(index, action) in actions")
				template(v-if="action.mode == 'help'")
					s__help-button(@click = "atActionClick(index)")
		div(v-bem:timer)
			s__ctimer(v-if="ctimer" v-ref:ctimer)
