//- Skate
//- Component: s__toast

ul(v-bem :class="class")
	template(v-for="toast in toasts")
		s__toast-message(
			:msg     = "toast.msg"
			:timeout = "toast.timeout"
			:ctimer  = "toast.ctimer"
			:actions = "toast.actions"
			:on-show = "toast.onShow"
			:on-hide = "toast.onHide"
		)
